@import '../../variables.scss';
.dropdown-content {
  display: none;
  position: absolute;
  padding: 10px 30px;
  right: 0px;
  top: 50px;
  background-color: #dddddd;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 15px;
  &:hover {
    display: flex;
    flex-direction: column;
  }
}
.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  svg {
    width: 20px;
    height: 20px;
    background: none;
    transition: all 0.1s linear;
  }
  &--delete:hover {
    svg {
      fill: #ff7077;
    }
  }
  &--download {
    margin-top: 10px;
    &:hover {
      svg {
        fill: $secondary;
      }
    }
  }
}
